PORT=4000
NODE_ENV=development

# Database Credentials (Development)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=aau_campus_market_db
DB_USER=postgres
DB_PASSWORD=postgres_secure_password

# Database Credentials (Testing)
TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=aau_campus_market_test_db
TEST_DB_USER=postgres
TEST_DB_PASSWORD=postgres_secure_password

# Security Secrets (JWT)
JWT_SECRET=aau_campus_market_access_token_secret_key_2026_prod
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=aau_campus_market_refresh_token_secret_key_2026_prod
JWT_REFRESH_EXPIRES_IN=7d
